@import "tailwindcss";

@font-face {
  font-family: NotoSans;
  src: url("../src/assets/fonts/NotoSans-Regular.ttf");
}

@theme {
  --font-sans: "NotoSans", sans-serif; 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }